
# Build
# Git
# IDE
# Local
# Misc
# Python
# Testing
*$py.class
*.db
*.egg-info/
*.log
*.py[cod]
*.so
*.sqlite3
*.swo
*.swp
.DS_Store
.Python
.coverage
.env
.env.dev
.env.local
.env.local
.git
.gitignore
.idea/
.pytest_cache/
.venv/
.vscode/
ENV/
Thumbs.db
__pycache__
build/
dist/
env/
htmlcov/
keys/
venv/
